.add-visit-container{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 70px auto;
    justify-content: center;
    gap: 5%;
}

.add-visit-child{
    height: 99%;
    width: 30%;
}

.visit-date-container, 
.visit-description-container{
    margin:  auto;
    width: 90%;
}

.visit-date-container{
    height: 20%;
}

.visit-date-container fieldset{
    display: flex;
    justify-content: center;
    margin:  auto;
    height: 60%;
}

.visit-date-container input{
    width: 50%;
    font-size: 16px;
    padding: 5px;
    height: 20px;
    margin: auto;
}

.visit-description-container{
    display: flex;
    height: 60%;
}

.visit-description-container fieldset{
    width: 100%;
    overflow: hidden;
}

.select-visit-description{
    height: 98%;
    width: 98%;
    padding: 5px;
    resize: none;
    background-color: var(--main-content-color);
    color: var(--font-color);
    border: none ;
}

.visit-form-group label, .visit-form-group input{
    display: block;
}

.add-visit-container fieldset{
    border: var(--font-color) 2px solid;
    color: var(--font-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
}

.visit-patient-table{
    background-color: var(--titlebar-color);
    color: white;
    border-collapse: collapse;
    border: 1px solid var(--titlebar-color);
}

.visit-table-container{
    display: flex;
    justify-content: center;
}

.visit-table-container tbody {
    display: block;
    max-height: 400px;
    overflow: auto;
}

.visit-table-container thead, .visit-table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

.visit-table-container thead {
    background-color: var(--titlebar-color);
    border: 1px black solid;
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.visit-table-container table {
    width: 400px;
}

/*DOCTOR CONTAINER*/

.select-doctor-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}