.exams-filters{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 300px;
}

.exams-filters label{
    margin-right: 10px;

}

.exams-filters div{
    display: flex;
    align-items: center;
}

.exams-filters button{
    margin: 0;
}

.exams-filters select, .exams-filters input{
    padding: 5px;
}

.view-examinations-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.examination-table{
    margin-top: 50px ;
}

.examination-table th, .examination-table td{
    padding: 5px;
}

.examination-table td{
    border-bottom: 1px solid var(--font-color);
}

.urgent{
    background-color: rgb(184, 55, 55);
}

.exam-popup-content {
    background-color: var(--main-content-color);
    padding: 30px;
    border: 2px solid black;
    color: var(--font-color);
    border-radius: 10px;
}

.exam-popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-x: hidden;
}

.exam-popup-button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.exam-details-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.margin-0{
    margin: 0;
}