.patient-selector-fieldset {
    margin-bottom: 20px;
}

.add-visit-container{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 30px auto;
    justify-content: center;
    gap: 5%;
}

.add-visit-header{
    width: 80%;
    height: 10%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-visit-header p{
    font-size: 26pt;
}

.add-visit-button-container {
    display: flex;
    justify-content: center;
}

.add-visit-button {
    width: 30%;
}

.add-visit-child{
    height: 99%;
    width: 30%;
}

.visit-date-container{
    height: 20%;
}

.select-visit-description{
    height: 98%;
    width: 98%;
    padding: 5px;
    resize: none;
    background-color: var(--main-content-color);
    color: var(--font-color);
    border: none ;
}

.visit-form-group{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.visit-form-group p{
    margin: 0;
}

.add-visit-container fieldset{
    border: var(--font-color) 2px solid;
    color: var(--font-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
    height: 32%;
    overflow-x: hidden;
}

.visit-patient-table{
    background-color: var(--titlebar-color);
    color: white;
    border-collapse: collapse;
    border: 1px solid var(--titlebar-color);
}

.visit-table-container{
    display: flex;
    justify-content: center;
}

.visit-table-container tbody {
    display: block;
    max-height: 400px;
    overflow: auto;
}

.visit-table-container thead, .visit-table-container tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

.visit-table-container thead {
    background-color: var(--titlebar-color);
    border: 1px black solid;
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

.visit-table-container table {
    width: 400px;
}

/*DOCTOR CONTAINER*/

.select-doctor-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-doctor-container h2{
    text-align: center;
    margin-top: 0; 
}

.find-patient-button-container{
    display: flex;
    justify-content: center;
}