.dark-theme-toggle-wrap {
    transition: background 0.2s linear;
}

.dark-theme-toggle-checkbox {
    opacity: 0;
    display: none;
}

.dark-theme-toggle-checkbox-label {
    background-color: var(--toggle-background);
    width: calc(2 * var(--toggle-height)); 
    height: var(--toggle-height);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root{ 
    --toggle-height: 23px;
}

.dark-theme-toggle-checkbox-label .ball {
    background-color: #fff;
    width: calc(var(--toggle-height) - 4px);
    height: calc(var(--toggle-height) - 4px);
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

@keyframes click {
    0%  {background-color: gray;}
    20% {background-color: white;}
    100% {background-color: white;}
}

.dark-theme-toggle-checkbox:checked+.dark-theme-toggle-checkbox-label .ball {
    animation-name: click;
    animation-duration: 2000ms;
    transform: translateX(calc(var(--toggle-height)));
}

@keyframes click2 {
    0%  {background-color: gray;}
    20% {background-color: white;}
    100% {background-color: white;}
}

.dark-theme-toggle-checkbox:not(:checked) + .dark-theme-toggle-checkbox-label .ball {
    animation-name: click2;
    animation-duration: 2000ms;
}


.dark-theme-toggle-checkbox-label img {
    -webkit-user-drag: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: calc(var(--toggle-height) - 10px); 
    height: calc(var(--toggle-height) - 10px);
}

.sun-img{
    margin: 4px 5px 0 0;
}

.moon-img{
    margin: 4px 0 0 5px;
}