.add-patient-form input, select{
    display: block;
    background-color: var(--main-content-color);
    color: var(--font-color);
    border: var(--font-color) solid 1px;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.add-patient-form input:disabled, select:disabled{
    filter:invert(20%);
}

.add-patient-form select{
    min-width: 170px;
    max-width: 180px;
}

.add-patient-form label{
    font-size: 15px;
}

.float-left{
    float: left;
}

.add-patient-form fieldset{
    border: var(--font-color) 2px solid;
    color: var(--font-color);
    border-radius: 10px;
    background-color: var(--main-content-color);
    width: 70%;
    min-width: 600px;
    margin: 0 auto 10px auto;
}

.fieldset-row{
    display: flex;
    gap: 5%;
}

.form-group{
    padding: 5px;
    overflow: hidden;
    width: 180px;
}

