.clinic-users-table{
    overflow-y: auto;
    overflow-x: hidden;
    height: 600px;
    width: 51vw;
    background-color: #fff;
}

.clinic-users-table td, .clinic-users-table th{
    padding: 5px;
}

.clinic-users-table td {
    border-bottom: solid var(--font-color) 2px;
    text-align: center;
}

.users-list-content{
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 100px;
}

.modify-user{
    padding: 10px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #fff;
}

.modify-user h3{
    text-align: center;
}

.modify-user-button-wrapper{
    display: flex;
    justify-content: center;
}

.admin-back-button{
    width: 80px;
    height: 80px;
    margin: 0;
}

.admin-fieldset{
    margin: 0;
    padding: 12px;
    background-color: var(--main-content-color);
    color: var(--font-color);
    border-width: 2px;
    border-radius: 5px;
}

.add-modify-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wider-button{
    width: 120px;
    height: 60px;
}
