.navbar{
    box-shadow: 0 1px 10px 1px rgb(58, 58, 58);
    min-width: 50px;
    width: 3%;
    height: 100%;
    float: left;
    z-index: 3;
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navbar-item-checked {
    background-color: var(--navbar-hover-color);
}

.navbar-img-checked{
    filter: invert(10%) !important;
}

.navbar-link:hover img {
    filter: invert(10%);
}   

.navbar-link:hover{
    background-color: var(--navbar-hover-color);
}

.navbar-image{
    padding:10%;
    width: 80%;
    filter: invert(90%);
}

.flex-end-self{
    margin-top: auto;
    margin-bottom: 15px;
}