.selectors {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
}

.doctor-selector, .week-selector, .current-time {
    margin: auto;
}

.week-selector {
    display: flex;
    flex-direction: row-reverse;
}

.week-selector-div {
    width: auto;
    display: inline-block;
    height: 100%;
}
.current-time {
    text-align: center;
}

.time-table {
    width: 95%;
    height: 88%;
    margin: auto;
    border-collapse: collapse;
}

.time-table td, th {
    border: 1px solid rgb(209, 209, 209);
    padding: 0px;
    text-align: center;
}

.time-table-normal-cell {
    width: 19%;
}

.time-table-hour-cell {
    width: 5%;
}

.visit-entry {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background-color: var(--navbar-color);
    color: var(--main-content-color);
    font-size: 14pt;
}

.visit-entry:hover {
    background-color: var(--navbar-hover-color);
    cursor: pointer;
}

.empty-entry {
    background-color: var(--main-content-color);
}