*{
    overflow-y: hidden;
}

.main-container-titlebar {
    background-color: var(--titlebar-color);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 6vh;
    box-shadow: 1px 0px 10px 1px rgb(58, 58, 58);
    display: flex;
    justify-content: space-between;
    color:rgb(196, 196, 196); 
    z-index: 2;
}

.main-container-titlebar h1{
    margin: 0;
    padding:5px;
    padding-left: 10px;
}

.main-container-content {
    margin-top: 6vh;
    width: 100vw;
    height: 94vh;
}

.content{
    background-color: var(--main-content-color);
    color: var(--font-color);
    font-size: large;
    z-index: 1;
    height: 100%;
}


.title-link{
    color: rgb(196, 196, 196);
    text-decoration: none !important;
}

.logout-button-container{
    display: flex;
    align-items: center;
}

.logout-button{
    margin: 0;
}

.margin-right-10{
    margin-right: 15px;
}