.main-container-titlebar {
    background-color: red;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 6vh;
}

.main-container-content {
    margin-top: 6vh;
    width: 100vw;
    height: 94vh;
}

.navbar {
    width: 4%;
    height: 100%;

    float: left;
    background-color: yellow;
    transition-duration: 0.5s;
}

.navbar:hover{
    width: 20%;
}

.navbar:hover p{
    color: red;
}


.content {
    height: 100%;
    background-color: aqua;
}