body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button {
  color: var(--button-foreground);
  background-color: var(--navbar-color);
  width: 95px;
  height: 40px;
  margin-top: 15px;
  border:none;
  border-radius: 5px;
}

.primary-button:hover{
  cursor: pointer;
  filter:invert(10%);
}