.add-patient-form input{
    display: block;
    background-color: var(--main-content-color);
    color: var(--font-color);
    border: var(--font-color) solid 1px;
    border-radius: 10px;
    padding: 5px;

}

.add-patient-container{
    width: 50%;
    margin: auto;
}

.float-left{
    float: left;
}

.add-patient-form fieldset{
    border: var(--font-color) 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: var(--main-content-color);
}

.form-group{
    padding: 5px;
}

.add-patient-header{
    text-align: center;
}