.add-patient-container{
    width: 50%;
    margin: auto;
}


.add-patient-header{
    text-align: center;
}

.add-patient-button{
    color: var(--font-color);
    background-color: var(--navbar-color);
    width: 100px;
    height: 50px;
    margin-top: 30px;
    border: solid var(--font-color) 1px;
    padding: 10px;
}

.add-patient-button:hover{
    cursor: pointer;
    filter:invert(10%);
}

.add-patient-button-div{
    display: flex;
    justify-content: center;
    gap: 100px;
}
