.patients {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    overflow-x: hidden;
    color: black;
}

.patients-table {
    width: 100%;
    min-width: 1200px;
    background-color: var(--navbar-color);
    color: white;
}

.patients-table tbody {
    border: none;
}

.page-navigation {
    align-self: start;
}

.find-patient {
    align-self: end;
    margin-left: auto;
}
.table-navigation {
    display: flex;
    flex-direction: row;
}

.patients-table-row {
    color: black;
    background-color: var(--list-even-color);
    color: var(--font-color)
}

.row-odd {
    background-color: var(--list-odd-color);
}


.table-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    margin: 0;
    width: 100%;
    height: 100%;
}

.address-button:hover{
    color: darkblue;
}

.clickable-row {
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
}
.clickable-row:hover {
    cursor: pointer;
    background-color: var(--list-hover-color);
}
