.add-patient-container{
    width: 50%;
    margin: auto;
}

.add-patient-header{
    text-align: center;
}

    
.add-patient-button-div{
    display: flex;
    justify-content: center;
    gap: 100px;
}
